body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top_area{
    height: 400px;
    display: flex;
    background-image: url("../images/top.png");
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.half_width{
    width: 40%;
    margin-left: 5%;
    padding-left: 3%;
}
.half_width h1{
    font-size: 50px;
}
.half_width img{
    width: 100%;
}
.orange_color{
    color: orange;
}
.ancor-button{
    padding: 10px 35px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}