body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top_area{
    height: 500px;
    display: flex;
    background-image: url("../images/top.png");
    background-repeat: no-repeat;
    padding-bottom: 200px;    
}

.half_width{
    width: 40%;
    margin-left: 5%;
    padding-left: 3%;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.half_width img{
    width: 100%;
}

.orange_color{
    color: orange;
}

.ancor-button{
    padding: 10px 35px;
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream_area{
    height: 500px;
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-bottom: 150px;
}

.flexible{
    display: flex;
    height: 80%;
}

.experience_area{
    height: 500px;
    padding-bottom: 200px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.experience_item{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 3%;
}

#item_one{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#item_two{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}